<h1>Listado de Menús</h1>
<dl class="sub-nav">
	<dt>Ver menús por:</dt>
	<dd class="active"><a href="#weekly">Semana</a></dd>
	<dd><a href="#daily">Día</a></dd>
</dl>
<input type="hidden" id="user_fname" value="<%= current_user.first_name %>" />
<input type="hidden" id="user_mname" value="<%= current_user.middle_name %>" />
<div id="menu_slider_wrapper">
	<div id="weekly">
		<% @menus.each do |object| %>
		<ul class="menu">
			<li class="header">
				<span class="name"><%= object[:menu].name %></span>
				<span><%= readable_date object[:menu].date %></span>
				<button id="order_menu_<%= object[:menu].id %>" class="order_menu button" >Ordenar</button>
			</li>
			<li>
				<ul class="dishes">
					<% object[:menu].dishes.each do |dish| %>
					<li class="dish"><%= dish.name %></li>
					<% end #each %>
				</ul>
			</li>
		</ul>
		<%
=begin
		link_to 'Show', menu
		link_to 'Edit', edit_menu_path(menu)
		link_to 'Destroy', menu, confirm: 'Are you sure?', method: :delete
=end
%>
		<% end #each %>
	</div>
	<div id="daily">
		
	</div>
</div>

<%= link_to 'New Menu', new_menu_path %>
