<h1>Listado de Menús</h1>
<dl class="sub-nav">
	<dt>Ver menús por:</dt>
	<dd class="active"><a href="#weekly">Semana</a></dd>
	<dd><a href="#daily">Día</a></dd>
</dl>
<input type="hidden" id="user_fname" value="<%= current_user.first_name %>" />
<input type="hidden" id="user_mname" value="<%= current_user.middle_name %>" />
<div id="menu_slider_wrapper">
	<div id="weekly">
		<%= render 'ul_menu' %>
	</div>
	<div id="daily">
		<%= render 'single_menu' %>
	</div>
</div>

<%= link_to 'New Menu', new_menu_path %>
