<% if signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <b>Bienvenido:</b>
  <%= @user.first_name + ' ' + @user.middle_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.personal_email %>
</p>

<% if !@office %>
<p>
  <b>Phone:</b>
  <%= @user.cel_phone %>
</p>
<% end %>

<% if @office %>
  <p>Nos hacen falta los siguientes datos para poder completar tu registro<br>Por favor llénalos a continuación:</p>
  <%= render 'offices/form' %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>